---
layout: base
---

<article class="page" role="article">
  <header>
    <h1 class="page-title">{{ page.title | default:"Home"}}</h1>
  </header>

  {{ content }}

  <h3>Modules</h3>
  {% for module in site.modules %}
  {% if module.jour == page.jour %}
  <article class="card" style="cursor: pointer;" onclick="window.location='{{ module.url |  prepend:site.baseurl }}';">
    <div>
      <h4>{{ module.title }}</h4>
      <i>durée estimée : {{ module.duree }}</i>
      <p>{{ module.description }}</p>
    </div>
  </article>
  {% endif %}
  {% endfor %}

</article>
